html{
    background-color: inherit;
}

.reveal .slides {
    overflow-y: auto;
    overflow-x: hidden;
}
.reveal .rendered_html code {
  border: 0;
  background-color: #ddd;
  color: #293;
  font-size: 100%;
  font-family: monospace;
  border-radius: 4px;
  margin:2px;
  padding: 5px;
}

.reveal pre code {
    padding: 10px;
}

.naked-img {
    margin-left: 15%;
}

.reveal .input_prompt {
    visibility:hidden;
}


.my-h2{
    color: #FF00FF;
}

section:first-child > section:first-child > div {
    background-color: rgba(255, 255,255, 0.5);
}